
.poco {
    position: absolute;
    color: black;
    font-weight: 600;
    transform: rotateZ(-90deg);
    bottom: 85px;
    left: 65px;
}

.percurso {
    position: absolute;
    color: black;
    font-weight: 600;
    transform: rotateZ(-90deg);
    bottom: 160px;
    left: 65px;
}

.altura {
    position: absolute;
    color: black;
    font-weight: 600;
    transform: rotateZ(-90deg);
    bottom: 260px;
    left: 65px;
}

.altura-com-maquina {
    position: absolute;
    color: black;
    font-weight: 600;
    bottom: 340px;
    left: 30px;
}