<router-outlet></router-outlet>
<div class="body">

  <mat-vertical-stepper [linear]="false"
                        #stepper
                        animationDuration="2000">
    <mat-step [stepControl]="firstFormGroup">

      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Informações gerais</ng-template>
        <div class="row-object">
          <label>Quantidade de pavimentos:</label>
          <mat-form-field>
            <input matInput
                   placeholder="ex: 12"
                   formControlName="firstCtrl"
                   required>
          </mat-form-field>
        </div>
      </form>

      <div class="radio-buttons">
        <div class="row-object">
          <label id="example-radio-group-label">Golas E e F</label>
          <mat-radio-group aria-labelledby="example-radio-group-label"
                           class="example-radio-group"
                           [(ngModel)]="gola">
            <mat-radio-button class="example-radio-button"
                              *ngFor="let gola of golas"
                              [value]="gola">
              {{gola}}
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="row-object">
          <label id="example-radio-group-label">Abertura porta</label>
          <mat-radio-group aria-labelledby="example-radio-group-label"
                           class="example-radio-group"
                           [(ngModel)]="aberturaPorta">
            <mat-radio-button class="example-radio-button"
                              *ngFor="let aberturaPorta of aberturaPortas"
                              [value]="aberturaPorta">
              {{aberturaPorta}}
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="row-object">
          <label id="example-radio-group-label">Medidas</label>
          <mat-radio-group aria-labelledby="example-radio-group-label"
                           class="example-radio-group"
                           [(ngModel)]="qdComando">
            <mat-radio-button class="example-radio-button"
                              *ngFor="let qdComando of qdComandos"
                              [value]="qdComando">
              {{qdComando}}
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="row-object">
          <label id="example-radio-group-label">QD de Comando</label>
          <mat-radio-group aria-labelledby="example-radio-group-label"
                           class="example-radio-group"
                           [(ngModel)]="medida">
            <mat-radio-button class="example-radio-button"
                              *ngFor="let medida of medidas"
                              [value]="medida">
              {{medida}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="row-object">
          <label id="example-radio-group-label">Casa de máquinas</label>
          <mat-radio-group aria-labelledby="example-radio-group-label"
                           class="example-radio-group"
                           [(ngModel)]="casaDeMaquina">
            <mat-radio-button class="example-radio-button"
                              *ngFor="let casaDeMaquina of casaDeMaquinas"
                              [value]="casaDeMaquina">
              {{casaDeMaquina}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div>
        <button mat-button
                matStepperNext>Next</button>
      </div>

    </mat-step>

    <mat-step [stepControl]="secondFormGroup">

      <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Pavimentos</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
    </mat-step>

    <!-- <mat-step [stepControl]="thirdFormGroup">

      <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Pavimentos</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
    </mat-step> -->

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button
                matStepperPrevious>Back</button>
        <button mat-button
                (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>

  </mat-vertical-stepper>


</div>